menuWidth = 300px

.MainMenu
  display absolute
  position fixed
  top 0
  right -(menuWidth + 50px)
  width menuWidth
  height 100vh
  z-index 10
  box-shadow 0 0 10px black
  background darkViolet
  border-left 1px solid violet
  color cream
  font-size 120%
  transition transform defaultTransition
  &.isOpen
    transform translate3d(-(menuWidth + 50px), 0, 0)
  button
    width 100%
    background transparent
    border none
    color cream
    margin-bottom 10px
    font-size 140%
    text-shadow 0 0 3px black
    transition color defaultTransition, text-shadow defaultTransition
    text-align left
    &:hover
      color orange
      text-shadow 0 0 3px cream

.MenuItem
  color cream
  display block
  width: 100%
  font-weight bold
  text-decoration none
  padding 10px 5px 10px 20px
  border-bottom 1px solid violet
  background transparent
  transition background-color defaultTransition
  &:hover
    background-color alpha(violet, 20%)
  i
    color orange
  span
    margin-left 10px
  &.active
    pointer-events none
    background-color alpha(violet, 20%)
    text-shadow 0 0 2px orange
