form
  border 1px solid alpha(orange, .5)
  border-radius $radius
  padding 5px
  background alpha(cream, 5%)
  box-shadow 0 1px 4px black

fieldset
  border 1px solid alpha(cream, .5)
  border-radius $radius
  padding 5px
  background alpha(cream, 5%)
  box-shadow 0 1px 4px black
  margin-bottom 5px

label
  font-weight 400
  font-size 14px
  text-shadow 0 0 2px black

fieldset.multiline
  label
    display block

.fieldsContainer
  margin 0 -5px -5px -5px
