@import 'modules/styles/client/axis.import'

global-reset()
normalize-css()
border-box-html()
fluid-media()

// Common styles
@import 'modules/styles/client/fontfaces.import'
@import 'modules/styles/client/colors.import'
@import 'modules/styles/client/body.import'
@import 'modules/styles/client/typography.import'
@import 'modules/styles/client/fontAwesome/fontAwesome.import'
@import 'modules/styles/client/sharedSimple.import'
@import 'modules/styles/client/form.import'
// Specific to components
// Reusable components
@import 'modules/components/AnimatedLink/client/AnimatedLink.import'
@import 'modules/components/Table/client/Table.import'
@import 'modules/components/Griddle/client/Griddle.import'
@import 'modules/components/Button/client/Button.import'
@import 'modules/components/CheckBox/client/CheckBox.import'
@import 'modules/components/Radio/client/Radio.import'
@import 'modules/components/Input/client/Input.import'
@import 'modules/components/Password/client/Password.import'
@import 'modules/components/Select/client/Select.import'
@import 'modules/components/Spinner/client/Spinner.import'
// MainApp
@import 'modules/mainLayout/client/MainApp.import'
@import 'modules/mainLayout/Header/client/Header.import'
@import 'modules/mainLayout/Footer/client/Footer.import'
// MainMenu
@import 'modules/mainLayout/MainMenu/client/MainMenu.import'
// Pages
@import 'modules/Welcome/client/Welcome.import'
@import 'modules/NotFound/client/NotFound.import'
@import 'modules/SignOnUp/client/SignOn.import'
@import 'modules/SignOnUp/client/SignUp.import'

// End of stylesheets (lower priority)
print-styles()
