// Colors
// Real colors
orange = #ee7a23
darkViolet = #262a3f
violet = #4a418f
lightViolet = #a090e8
orange = #ee7a23
cream = #fff8e4

darkGrey = #444444
grey = #8b8b8b
lightGrey = #e8e8e8

textColor = darkViolet
brandPrimary = orange
brandSecondary = violet
borderBrandPrimary = darken(brandPrimary, 10%)
hoveredBrandPrimary = lighten(borderBrandPrimary, 20%)
invertedBrandPrimary = cream
hoveredInvertedBrandPrimary = cream
headerColor = violet
bgColor = cream
hrColor = cream
hrBgColor = cream

// Fonts
// Real font stack
headerFont = Impact, sans-serif
bodyFont = 'San Francisco', 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif
preFont = 'Droid Sans Mono', monospace
// Template font stack
// headerFont = serif
// bodyFont = sans-serif
// preFont = monospace

// Import Ink (based on 1.0.5, modified for Stylus)
@import '_ink'

// Whole email
body, .body, html
  background hoveredInvertedBrandPrimary !important

.main-content
  background #ffffff !important
  padding 20px !important
  margin 20px !important
  border 1px solid brandPrimary !important
  border-radius 5px !important

.footer
  background brandPrimary
  p, a
    color invertedBrandPrimary !important
  a
    font-weight bold
    text-decoration underline

// Invoice
.invoice
  border 1px grey solid !important
  background lightGrey !important
  color darkGrey !important

.cgv
  background darkGrey !important
  h1, h2, h3, h4, h5, h6
    color grey !important
    text-align left !important
    font-size 14px !important
  p, a
    color grey !important
    font-size 12px !important
    text-align justify !important
