// Tables
table
  table(orange, false)
  border-color orange
  thead th
    text-shadow 0 0 2px black
    background orange
    color cream
  tbody
    text-shadow 0 0 2px black
    tr
      transition background-color defaultTransition
      &:hover
        background-color alpha(cream, 10%)
      &:nth-child(even) td
        background-color alpha(cream, 5%)
  tfoot
    background mix(orange, cream)
    color darkViolet
