.googlemap
  margin 0 -9px
  width calc(100% + 18px)
  border-left 1px solid darkViolet
  border-right 1px solid darkViolet
  position relative
  .SpinnerContainer
    width 100%
.googlemap, .googlemapContainer
  height 300px
.googlemapContainer
  opacity 0
