.MainContent.SignUp
  form .buttons
    text-align center
  .invoiceAddress
    .formGroup
      label
        width 190px
      input, .Select
        width calc(100% - 190px)
      // street and complementary
      &:nth-of-type(1), &:nth-of-type(2)
        display block
        width 100%
        +html5-inputs()
          width calc(100% - 200px)
      // postal code
      &:nth-of-type(3)
        width 300px
        input
          max-width 100px
      // city
      &:nth-of-type(4)
        width calc(100% - 320px)
        label
          width 80px
        input
          width calc(100% - 80px)

@media only screen and (max-width: 720px)
  .MainContent.SignUp .invoiceAddress .formGroup
    &:nth-of-type(3)
      width 100%
    &:nth-of-type(4)
      width 100%
      label
        width 190px
      input
        width calc(100% - 200px)

@media only screen and (max-width: 550px)
  .MainContent.SignUp .invoiceAddress .formGroup
    input
      width calc(100% - 10px) !important
    .Select
      width 100% !important
