defaultFont = 'San Francisco', 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif

// Axis configuration
$font-stack = defaultFont
$font-size = 16
$font-color = darkViolet
$default-color = orange
$text-selection = darkViolet
$img-path = '/img'
$radius = 2px

defaultTransition = .3s ease-in-out

global-reset()
normalize-css()
border-box-html()
fluid-media()
