// Styles for inline styles and Radium
.maximized
  max-width 960px
  width 100%
  margin 0 auto
.transparent
  opacity 0
.primary2Color
  background orange
  color cream
.whiteColor
  background cream
  color darkViolet
// Simple directive
.textCenter
  text-align center
.height100
  height 100%
// Enhanced lisibility
.lisibility
  text-shadow 0 0 2px black
// Flexbox styles
.flex
  display flex
  flex-wrap nowrap
  justify-content flex-start
  flex-wrap nowrap
  &.col
    flex-direction column
  &.row
    flex-direction row
.flexItemStaticSize
  flex 0 0 auto
.flexItemDynamicSize
  flex 1 0 auto
