@import 'modules/styles/axis.import.styl'

header
  padding 2px 0 0 0
  margin-bottom 8px
  img
    transform translate3d(20px, 0, 0)
  button
    color darkViolet
    margin 0
    padding 12px 0px 3px 0
    width 40px
    text-align right
    font-size 28px
    background transparent
    border none
