.MainMenu
  display absolute
  position fixed
  top 0
  right 0
  width 200px
  height 100vh
  z-index 10
  box-shadow 0 0 3px black
  background black
  color white
  transition transform .3s ease-in-out
  transform translate3d(200px, 0, 0)
  &.isOpen
    transform none
  button
    background transparent
    border none
    color white
    text-shadow 0 0 3px black
