@import 'modules/styles/colors.import.styl'

.MainContent
  overflow-x hidden
  background darkViolet
  background radial-gradient(ellipse at center, darkViolet 0%, darken(darkViolet, 15%) 100%);
  border-radius 3px
  min-height calc(100vh - 113px)
  margin 5px 10px 10px 10px
  padding 10px
  box-shadow 0px 5px 15px black

@media only screen and (max-width: 960px)
  .MainContent.maximized, header .maximized, footer .maximized
    width calc(100% - 20px)
    margin-left 10px
    margin-right 10px

@media only screen and (max-width: 800px)
  .MainContent
    min-height calc(100vh - 202px)
  footer
    nav
      padding 20px 0
      text-overflow ellipsis
      .BasicPagesLinks
        width inherit
        margin-right 0
        width calc(100% - 80px)
        .BasicPagesLink
          display block
          width 100%
          padding-bottom 10px
          margin-right 0
          overflow-x hidden
          white-space nowrap
          a
            display inline-block
            text-overflow ellipsis
            overflow-x hidden
            max-width 100%
      .SocialLinks
        width 80px
        a
          display inline-block
          margin-left 0
          width 50%
          text-align center
          font-size 26px
          &:nth-child(1), &:nth-child(2)
            padding-bottom 5px
