.Welcome
  .headlines
    opacity 0
  .headline
    margin 0
    padding 0
    text-align center
  .card
    position relative
    width 100vw
    max-width 1040px
    margin-bottom 20px
    top 0
    left -40px
    background alpha(red, 30%)
    .title
      position relative
      top 40px
      left 80px
      width 500px
      height 250px
      padding 20px
      background cream
      color darkViolet
    .kenBurns
      position relative
      background alpha(green, 30%)
      img
        width 500px
        height 350px
    .colored
      position relative
      background violet
