darkViolet = #262a3f
cream = #fff8e4
bgColor = darkViolet
textColor = cream

body, html
  background bgColor
  width 100%
  height 100%
  font-weight 300
  font-family 'Helvetica Neue', Roboto, Arial, sans-serif
  color textColor
h1, h2, h3, h4, h5, h6
  font-weight 300
p
  font-weight 100

.inverted
  color bgColor
