@import 'modules/styles/colors.import.styl'

// Axis configuration
$font-stack = defaultFont
$font-size = 16
$font-color = darkViolet
$default-color = orange
$text-selection = darkViolet
$img-path = '/img'
$radius = 2px

defaultTransition = .3s ease-in-out
