// Global settings
html, #react-root
  min-height 100vh
html, body
  margin 0
  padding 0
  width 100%
  font-weight 300
  font-family defaultFont
  background cream
  background-attachment fixed
  color cream

*, *::after, *::before
  // Globally set the sizing behavior
  box-sizing border-box
  // Ensure font's antialising
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-touch-callout none
  // Remove outlining
  outline none !important
  // Mobile specific for iOS and Android: removes text selection
  -webkit-tap-highlight-color rgba(0,0,0,0)
  // Accelerate scrolling
  backface-visibility hidden
  &:hover, &:focus, &:active
    outline none
  // Force hardware acceleration on all elements
  transform translateZ(0)

// Nice HR
hr
  border 0
  height 1px
  background-image linear-gradient(to right, alpha(cream, 0), alpha(cream, 100%), alpha(cream, 0));
