@import 'modules/styles/axis.import.styl'

form
  border 1px solid alpha(orange, .5)
  border-radius $radius
  padding 5px
  background alpha(cream, 5%)
  text-shadow 0 0 2px black
  &.error
    field-error()

form button, .btn
  button(cream, 15px, darkViolet)
  click-down()
  border-radius $radius
  margin-right 10px
  transition color defaultTransition,
    background-color defaultTransition,
    opacity defaultTransition
  width 300px
  padding 11px 3px 11px 11px
  hover-darken()
  i
    display inline-block
    font-size 22px !important
    line-height: 12px !important;
    width 10px
    color orange
    margin-left 5px
  span
    display inline-block
    width calc(100% - 15px)
  &.primary
    // button(orange, 15px, cream)
    background-color orange
    color cream
    hover-lighten()
    i
      color darkViolet
  &:disabled
    opacity .4
    font-weight 200
    italic()
    &.primary
      color darkViolet

+html5-inputs()
  autofill(alpha(orange, 30%), darkViolet)
  input orange
  padding 5px
  background-color cream
  border-color alpha(orange, 50%)
  color darkViolet
  font-weight 400
  transition color defaultAnimation,
    border-color defaultAnimation,
    background-color defaultAnimation
  border-width 2px
  &:focus
    border-width 2px
    background-color white

fieldset
  border 1px solid alpha(cream, .5)
  border-radius $radius
  padding 5px
  background alpha(cream, 5%)
  margin-bottom 5px

label
  font-weight 400
  font-size 14px

fieldset.multiline
  label
    display block

input[type='checkbox']
  position absolute
  left -9999px
  & + label
    display block
    position relative
    margin 10px 0
    padding-left 25px
    cursor pointer
    no-select()
    &::before, &::after
      position absolute
    &::before
      top 2px
      left 0
      width 16px
      height 16px
      border-radius $radius
      border 2px solid cream
      background transparent
      content ' '
      transition border-color defaultTransition
    &::after
      top 4px
      left 2px
      width 12px
      height 12px
      background transparent
      color cream
      font-family FontAwesome
      content '\f00c'
      line-height 11px
      transition transform defaultTransition, background-color .3s .3s ease-in-out
      transform scale3d(0, 0, 1)
  &:checked + label::after
    background orange
    transform scale3d(1, 1, 1)
  &:focus + label::before
    border-color mix(orange, cream)

input[type='radio']
  position absolute
  left -9999px
  & + label
    display block
    position relative
    margin 10px 0
    padding-left 25px
    cursor pointer
    no-select()
    &::before, &::after
      position absolute
      border-radius 50%
    &::before
      top 2px
      left 0
      width 16px
      height 16px
      border 2px solid cream
      background transparent
      content ' '
      transition border-color defaultTransition
    &::after
      top 4px
      left 2px
      width 12px
      height 12px
      background transparent
      color cream
      font-family FontAwesome
      content '\f111'
      font-size 8px
      padding 3px
      line-height 7px
      transition transform defaultTransition, background-color .3s .3s ease-in-out
      transform scale3d(0, 0, 1)
  &:checked + label::after
    background orange
    transform scale3d(1, 1, 1)
  &:focus + label::before
    border-color mix(orange, cream)

.fieldsContainer
  margin 0 -5px -5px -5px
.formGroup
  position relative
  display inline-block
  width calc(50% - 10px)
  height 40px
  margin 0 5px
  transition height defaultTransition
  label
    display inline-block
    width 200px
    transition color defaultTransition
  +html5-inputs()
    width calc(100% - 200px)
  span
    position absolute
    display inline-block
    overflow hidden
    top 31px
    color red
    font-weight 900
    font-size 14px
    font-style italic
    left 200px
    opacity 0
    transition opacity defaultTransition
// Form in error
.formGroup.error
  height 58px
  field-error()
  +html5-inputs()
    border-width 2px
    &:focus
      border-width 2px
  span
    opacity 1

@media only screen and (max-width: 800px)
  .formGroup
    width calc(100% - 10px)
@media only screen and (max-width: 550px)
  .formGroup
    height 60px
    label
      display block
      width 100%
    +html5-inputs()
      width 100%
    &.error
      height 78px
      span
        top 50px
        left 10px
  button
    width 100%
    &:not(:last-child)
      margin-bottom 5px
