@import 'modules/styles/axis.import.styl'

form
  border 1px solid alpha(orange, .5)
  border-radius $radius
  padding 5px
  background alpha(cream, 5%)
  text-shadow 0 0 2px black
  &.error
    field-error()

form button, .btn
  button(cream, 15px, darkViolet)
  click-down()
  border-radius $radius
  transition color defaultTransition,
    background-color defaultTransition,
    opacity defaultTransition
  &.primary
    button(orange, 15px, cream)
  &:disabled
    opacity .6
    font-weight 200
    italic()

+html5-inputs()
  autofill(alpha(orange, 30%), darkViolet)
  input orange
  padding 5px
  background-color cream
  border-color alpha(orange, 50%)
  color darkViolet
  margin-bottom 25px
  border-width 2px
  &:focus
    border-width 2px

fieldset
  border 1px solid alpha(cream, .5)
  border-radius $radius
  padding 5px
  background alpha(cream, 5%)
  margin-bottom 5px

label
  label()
  margin-right 10px

fieldset.multiline
  label block
