@import 'modules/styles/axis.import'

global-reset()
normalize-css()
border-box-html()
fluid-media()

// Common styles
@import 'modules/styles/fontfaces.import'
@import 'modules/styles/colors.import'
@import 'modules/styles/body.import'
@import 'modules/styles/typography.import'
@import 'modules/styles/fontAwesome/fontAwesome.import'
@import 'modules/styles/sharedSimple.import'
@import 'modules/styles/form.import'

// Specific to components
// Reusable components
@import 'modules/components/AnimatedLink/AnimatedLink.import'
@import 'modules/components/Table/Table.import'
@import 'modules/components/Button/Button.import'
@import 'modules/components/CheckBox/CheckBox.import'
@import 'modules/components/Radio/Radio.import'
@import 'modules/components/Input/Input.import'
// MainApp
@import 'modules/mainLayout/MainApp.import'
@import 'modules/mainLayout/Header/Header.import'
@import 'modules/mainLayout/Footer/Footer.import'
// MainMenu
@import 'modules/mainLayout/MainMenu/MainMenu.import'
// Pages
@import 'modules/Welcome/Welcome.import'
@import 'modules/notFound/NotFound.import'

// End of stylesheets (lower priority)
print-styles()
