.Events
  h2.event
    display inline-block
    font-weight normal
    font-size 16px
    line-height 18px
    color orange
    margin 12px 0 0 0
    .session:before
      content '-'
      color mix(cream, orange)
      margin-left 12px
      margin-right 12px
  .conference
    margin 0
  .description
    margin 0
    font-size 10px
    line-height 12px
    font-style italic
  .moderator, .speakers, .hours
    margin 0
    i
      width 18px
      margin-right 11px
      color mix(cream, orange)
    span
      font-size 11px
      font-weight bold
  .hours
    margin 0
    .date, .begin, .end
      display inline-block
      color mix(cream, orange)
    .date, .begin
      &:after
        color orange
        content '-'
        margin-left 10px
        margin-right 10px
