.Invoice
  h2
    text-align center
  .receipt
    text-align center
    border 1px solid orange
    border-radius $radius
    background-color cream
    color darkViolet
    font-family monotype
    font-size 12px
    width 31em
    margin 0 auto
    padding .5em
