.Invoice
  h2, h3, .receipt
    text-align center
  h2, h3
    color mix(orange, cream)
  h3
    font-size 18px
  .receipt
    box-shadow 0 5px 15px black
    border 1px solid orange
    border-radius $radius
    background-color cream
    color darkViolet
    font-family monotype
    font-size 12px
    width 240px
    margin 15px auto
    padding 1em .5em
