@import 'modules/styles/colors.import.styl'

header
  padding 2px 0 0 0
  img
    transform translate3d(20px, 0, 0)
  button
    color darkViolet
    margin 0
    padding 10px 0px 3px 0
    width 40px
    text-align left
    font-size 28px
    background transparent
    border none
