@import 'modules/styles/colors.import.styl'

header
  padding 2px 0 0 0
  img
    transform translate3d(20px, 0, 0)
  button
    color darkViolet
    margin 0
    padding 6px 5px
    width 30px
    font-size 28px
    background transparent
    border none
