.Payment
  h3
    text-align center
    span.price
      font-family monospace
  .card-wrapper
    margin 10px auto
    height 200px
    .jp-card-front
      background-color mix(cream, grey)
  form
    margin-bottom 5px
  fieldset
    padding-bottom 20px

@media screen and (max-width: 480px)
  .Payment
    h2
      font-size 18px
    h3
      font-size 16px
    form
      width 100%
      fieldset
        .card-wrapper
          margin 0
          height 110px
          position relative
          padding 0
          width 100%
          .jp-card-container
            transform scale(.5) translate3d(-1em, -90px, 0)
          .jp-card-container, .jp-card
            margin 0 auto
            padding 0
            position absolute
            top 0
            left 0

@media screen and (max-width: 320px)
  .Payment form fieldset .card-wrapper .jp-card-container
    transform scale(.5) translate3d(-3em, -90px, 0)
