// Footer
+fullWidthRow('footer')
  p.center
    | Suivez&nbsp;
    a(href='HTML_TEMPLATE_TWITTER_URL') @SNVEL_com
    | &nbsp;sur Twitter.
  p.center
    | Suivez&nbsp; 
    a(href='HTML_TEMPLATE_FACEBOOK_URL') SNVEL
    | &nbsp;sur Facebook.
  p.center
    | Suivez&nbsp; 
    a(href='HTML_TEMPLATE_LINKEDIN_URL') SNVEL
    | &nbsp;sur LinkedIn.
