extends ../includes/layout.jade

block body
  +layout
    // Header
    include ../partials/header.jade
    // Body
    +body
      +container()(class='main-content')
        +row()
          +columns('twelve', 'last')
            td.text-pad
              h3 HTML_TEMPLATE_ACTION_TITLE
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p HTML_TEMPLATE_ACTION_MESSAGE
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p HTML_TEMPLATE_ACTION_SUB_MESSAGE
        +row()(class='button-wrapper')
          +columns ('seven', 'last')
            td.center.text-pad
              a(href='HTML_TEMPLATE_ACTION_VALIDATE_URL')
                +button('HTML_TEMPLATE_ACTION_BUTTON')(style="large-button radius")
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p — L'équipe SNVEL
              p &nbsp;
    // Footer
    include ../partials/footer.jade
