extends ../includes/layout.jade

block body
  +layout
    // Header
    include ../partials/header.jade
    // Body
    +body
      +container()(class='main-content')
        +row()
          +columns('twelve', 'last')
            td.text-pad
              h3 HTML_TEMPLATE_BILLING_TITLE
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Bonjour,
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Nous vous remercions pour votre inscription au prochain évènement SNVEL.
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Veuillez trouver ci-après la facture correspondant à votre inscription ainsi que les Conditions Générale de Vente liées à cet événement.
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              pre.invoice.
                HTML_TEMPLATE_BILLING_INVOICE_CONTENT
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p Au plaisir de vous retrouver
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              include ../partials/signature.jade
              p &nbsp;

    // Footer
    include ../partials/footer.jade

  +fullWidthRow('cgv')
    h1 HTML_TEMPLATE_TERMS_OF_SALES_TITLE
    HTML_TEMPLATE_TERMS_OF_SALES_CONTENT
