extends ../includes/layout.jade

block body
  +layout
    // Header
    include ../partials/header.jade
    // Body
    +body
      +container()(class='main-content')
        +row()
          +columns('twelve', 'last')
            td.text-pad
              h3 HTML_TEMPLATE_RESETPASSWORD_TITLE
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              p En cliquant sur le bouton ci-après, votre navigateur s'ouvrira pour vous permettre de changer votre mot de passe.
        +row()(class='button-wrapper')
          +columns ('seven', 'last')
            td.center.text-pad
              a(href='HTML_TEMPLATE_ACTION_VALIDATE_URL')
                +button('Je définis mon nouveau mot de passe')(style="large-button radius")
        +row()
          +columns('twelve', 'last')
            td.center.text-pad
              include ../partials/signature.jade
              p &nbsp;
    // Footer
    include ../partials/footer.jade
