.Subscribe
  table
    .title
      max-width 100%
      width 100%
      h1.priceDescription
        font-size 18px
        line-height 20px
    .price
      font-family monospace
    input[type='checkbox'], label
      margin-top 0
    thead tr th, tbody tr td
      &:nth-child(2)
        width 120px
      &:nth-child(3)
        width 150px

@media only screen and (max-width: 480px)
  .Subscribe
    table
      max-width 100%
      width 100%
      thead tr th, tbody tr td
        &:nth-child(2), &:nth-child(3)
          width 100%
          div
            width 100%
      thead
        display none
      label
        width 100%
      tbody, tr, td
        border none
    table, tbody, tr, td
      display block
    table tbody, table tbody tr, table tbody tr td, table tbody tr td div
      width 100%
      max-width 100%
