@import 'modules/styles/colors.import'

footer
  margin-top 10px
  nav div
    margin 10px 0
    // Must be set only for desktop
    .BasicPagesLinks
      display inline-block
      margin-right 20px
  .SocialLinks
    text-align right
    a, a:visited
      color cream
      // Must be set only for desktop
      margin-left 10px
