footer
  margin-top 10px
  nav
    align-items center
    padding 10px 0
    .BasicPagesLinks
      .BasicPagesLink
        display inline-block
        margin-right 20px
    .SocialLinks
      text-align right
      a, a:visited
        color cream
        font-size 20px
        margin-left 20px
        display inline-block
        hover-pop()
        hover-lighten()
        transition color .3s ease-in-out, transform .3s ease-in-out
