@import 'modules/styles/colors.import'

footer
  margin-top 10px
  nav div
    margin 10px 0
    .BasicPagesLink
      display inline-block
      margin-right 20px
  .SocialLinks
    text-align right
    a, a:visited
      color cream
      margin-left 10px
      transition color .3s ease-in-out, transform .3s ease-in-out
      &:hover
        color white
        transform scale3d(1.2, 1.2, 1)
